nav {
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    background:transparent;
    width: 100%;
    height: 50px;
    padding: 50px 10px;
  }
  img {
    height: 55px;
    width: 75px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  #navbar li {
    list-style-type: none;
    padding: 5px 5px 0;
    position: relative;
    margin-right: 10px;
  }
  
  #navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1 rem;
    font-weight: 600;
    font-family: sans-serif;
    transition: 0.4s ease-in-out;
    text-transform: uppercase;
  }
  #navbar li a:hover,
  #navbar li a.active {
    color: white(141, 181, 226);
  }
  #mobile i {
    color: white;
    align-items: center;
  }
  #mobile i:hover {
    color: rgb(51, 51, 212);
    transition: 0.4s ease-in-out;
  }
  #mobile {
    display: none;
  }
  @media screen and (max-width: 769px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 50px;
      right: -200px;
      width: 200px;
      height: 100vh;
      background-color: white;
      box-shadow: 0 5px 15px;
      padding: 40px 0 0 60px;
      transition: 0.4s ease-in-out;
    }
    #navbar.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 40px;
      right: 0px;
      width: 200px;
      height: 100vh;
      background-color: white;
      box-shadow: 0 5px 15px;
      padding: 40px 0 0 60px;
      transition: 0.4s ease-in-out;
    }
    #navbar li {
      margin-bottom: 25px;
    }
    #mobile i {
      font-size: 24px;
      cursor: pointer;
      position: fixed;
      top: 40px;
      right: 20px;
    }
    #mobile {
      display: block;
    }
  }
  #navbar .menu-item {
    padding: 10px 10px;
    border-radius: 15px;
    background:transparent;
    justify-content: center;
  }
  #navbar .menu-item a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 0;
    transition: width 0.4s ease-in-out; /* Transition only the width property */
  }
  
  #navbar li:hover a:before {
    width: 100%; /* Change the width on hover */
  }
  